<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Printer" value="Brother HL-2240 series" />
    <add key="GetOrdersURI" value="http://localhost:5000/api/getorders" />
    <add key="LeftPosition" value="5" />
    <add key="TopPosition" value="130" />
    <add key="LineSpacing" value="22" />
    <add key="FontFamily" value="Arial" />
    <add key="FontSize" value="16" />
    <add key="SmallFontSize" value="10" />
    <add key="MaxStringLength" value="25" />
    <add key="FirstLineTopPosition" value="10" />    
  </appSettings>
</configuration>
